#
# 1. 密码的配置：
# 位置：容器内 pwd/hop.pwd
# hop.pwd内容格式: username:type:password,role 多密码则回车换行。其中类型可以是: SHA256或者为空(为明文)。
#
#
# 2.密码的生成：使用线下传递的encrypt-password.sh脚本生成
#
# 3. hop.pwd 配置样例：
# 3.1 明文配置
hftx:htfx@2016!,default

# 3.2 SHA256 hftx:htfx@2016!,default
htfx:SHA256:EaHBb37OkB6f6AnFQDBMG89KXOAokjkA6IjPE05zMAU=,default

